.page {
  max-width: 1288px;
  min-width: 320px;
  width: 100vw;
  margin: auto;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-top: 28px;
  padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding-top: 16px;
  }
}
