.page {
  min-width: 320px;
  max-width: 1280px;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-top: 28px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
