.intro__list {
  list-style: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  width: 288px;
  padding: 0;
}

.intro__list-numbers {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
