.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  margin-right: 18px;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
