.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}
