.intro {
  padding: 92px 0;
  margin-left: 12%;
  margin-right: 36%;
  width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 0;
    width: calc(100% - 24px * 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 0;
    width: calc(100% - 16px * 2);
  }
}
