.intro {
  margin-top: 92px;
  margin-bottom: 92px;
  margin-left: 12%;
  margin-right: 36%;
  width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 88px auto;
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 64px auto;
    width: calc(100% - 16px * 2);
  }
}
