.lead__subtitle {
  margin: 32px auto 64px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 16px 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
